<div id="subscribe-to-membership" class="initiallyHidden">
    <label for="card-element">
        Enter your Credit or debit card information below to make a secure payment.
    </label>
    <div id="card-element">
        <!-- A Stripe Element will be inserted here. -->
    </div>

    <!-- Used to display Element errors. -->
    <div id="card-errors" role="alert"></div>
    <div class="container">
        <div class="row">

            {{/*{{ $products := getJSON "https://www.bionicbodyfitness.com/.netlify/functions/test-list-products" }}*/}}
            {{ $products := .Site.Data.products }}
            {{ range $products }}
                <div class="col-lg">
                    {{ $stripePublicKey := getenv "STRIPE_PUBLIC_KEY"}}
                    <p>{{.Name}}<p>

                        Sku ID: {{ .ID }}
                        Sku Price: {{ .Price }}
                    <h3>{{.Name}}</h3>
                    {{ .Price }}
                    <form action="https://www.bionicbodyfitness.com/.netlify/functions/register-new-member" method="POST" class="payment-form" id="{{ .Id }}">
                        <!-- TODO Intercept form submission.
                             TODO Determine CustomerID, if it is a returning Customer
                        -->
                        <input type="hidden" name="planId" value="{{.Id}}">
                        <input type="submit" value="Register ">
                    </form>
                </div>
            {{ end }}
        </div>
    </div>
</div>
