<div class="container">
    <div class="row">
        <div class="col-md">
            <h3>
                Punch Cards
            </h3>
        </div>
        <div class="col-md">
            <div id="identity-name" class="h2">
            </div>
        </div>
        <div class="col-md">
            <div data-netlify-identity-button></div>
        </div>
    </div>
</div>

{{/*<div id="card-section" class="initiallyHidden">*/}}
    {{/*<label for="card-element">*/}}
        {{/*Enter your Credit or debit card information below to make a secure payment.*/}}
    {{/*</label>*/}}
    {{/*<div id="card-element">*/}}
    {{/*</div>*/}}
    {{/*<div id="card-errors" role="alert"></div>*/}}
{{/*</div>*/}}

<div class="notice-for-nonmembers initiallyHidden">
   You must have an active membership to purchase Punch Cards online. Register <a href="/memberships">HERE</a>
</div>
<div id="subscribe-to-membership" class="initiallyHidden show-only-to-existing-customers">
    <div class="container">
        <div class="row">

            {{ $products := getJSON "https://www.bionicbodyfitness.com/.netlify/functions/list-products" }}
            {{/*{{ $products := .Site.Data.products }}*/}}
            {{ range $products }}
                <div class="col-lg">
                    {{ $stripePublicKey := getenv "STRIPE_PUBLIC_KEY"}}
                    <h3>{{.Name}}</h3>
                    <p>Description: {{ .Description }}</p>
                    <p>Price: {{ .Price }}</p>
                    <form action="https://www.bionicbodyfitness.com/.netlify/functions/purchase-product" method="POST" class="payment-form" id="{{ .Id }}">
                        <input type="hidden" name="planId" value="{{.Id}}">
                        <input type="submit" value="Purchase">
                    </form>
                </div>
            {{ end }}
        </div>
    </div>
</div>
