
<ul>
    {{ $products := getJSON "https://www.bionicbodyfitness.com/.netlify/functions/test-list-products" }}
    {{/*{{ $products := .Site.Data.bill_products }}*/}}
    {{ range $products }}
            {{ $stripePublicKey := getenv "STRIPE_PUBLIC_KEY"}}
            <p>{{.Name}}<p>

            <ul>
                {{ range .Skus }}
                    Sku ID: {{ .ID }}
                    Sku Price: {{ .Price }}
                    <form action="https://www.bionicbodyfitness.com/.netlify/functions/test-charge" method="POST">
                        <!-- TODO Figure out how to Order a Product, rather than make a disconnected charge
                             Then I shouldn't need to fiddle with a price here.
                             TODO Determine CustomerID, if it is a returning Customer
                        -->
                        <script
                                src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                                data-key="{{ $stripePublicKey }}"
                                data-amount="{{ .Price}}"
                                data-product="{{ .ID }}"
                                data-name="Billding Things"
                                data-description="Description of item"
                                data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                                data-locale="auto">
                        </script>
                    </form>
                {{ end }}
            </ul>
        {{/*{{ . | test_stripe_payment_form }}*/}}
    {{ end }}
</ul>
